{% extends 'base.html.twig' %}

{% block title %}Vip index{% endblock %}
{% block extraStyle %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FITHUB</title>

    <!-- favicon icon -->
    <link rel=icon href=iconFit.png type="png">

    <link rel="stylesheet" href="{{ asset('assets/font/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/about.css') }}">

{% endblock %}

{% block content %}
    <h1>Vip index</h1>

    <table class="table">
        <thead>
            <tr>
                <th style="color:white">Id</th>
                <th style="color:white">Nom</th>
                <th style="color:white">Prenom</th>
                <th style="color:white">Email</th>
                <th style="color:white">Numero</th>
                <th style="color:white">Score</th>
                <th style="color:white">actions</th>
            </tr>
        </thead>
        <tbody>
        {% if ( vips is not null)  %}
        {% for vip in vips %}


            <tr>
                <td style="color:white">{{ vip.id }}</td>
                <td style="color:white">{{ vip.nom }}</td>
                <td style="color:white">{{ vip.prenom }}</td>
                <td style="color:white">{{ vip.email }}</td>
                <td style="color:white">{{ vip.numero }}</td>
                <td style="color:white">{{ vip.score }}</td>
                <td style="color:white">
                    <a href="{{ path('app_vip_show', {'id': vip.id}) }}" style="color: blue">show</a>
                    <a href="{{ path('app_vip_edit', {'id': vip.id}) }}" style="color: blue" >edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <a href="{{ path('app_vip_new') }}" style="color:blue">Create new</a>
{% endblock %}
{% block extraScripts %}

<script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('assets/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/plugins.js') }}"></script>
<script src="{{ asset('assets/js/menu.js') }}"></script>
<script src="{{ asset('assets/js/scroll-slider.js') }}"></script>
<script src="{{ asset('assets/js/jquery.parallax-1.1.3.js') }}"></script>
<script src="{{ asset('assets/js/typing.js') }}"></script>
<script src="{{ asset('assets/js/contact.js') }}"></script>
<script src="{{ asset('assets/js/script.js') }}"></script>

{% endblock %}
